{# demo_data.xml.j2 -- Self-contained demo data for all models #}
<?xml version="1.0" encoding="utf-8"?>
<odoo noupdate="1">

{% for model in models %}
    <!-- Demo records for {{ model.description | default(model.name) }} -->
{% for i in range(3) %}
{% set record_num = loop.index %}
{% set record_idx = loop.index0 %}
    <record id="demo_{{ model.name | to_xml_id }}_{{ record_num }}" model="{{ model.name }}">
{% for field in model.fields %}
{% if field.type not in ('One2many', 'Many2many', 'Many2one') %}
{% if field.type == 'Char' %}
        <field name="{{ field.name }}">Sample {{ field.string | default(field.name | replace('_', ' ') | title) }} {{ record_num }}</field>
{% elif field.type == 'Integer' %}
        <field name="{{ field.name }}">{{ record_num * 10 }}</field>
{% elif field.type == 'Float' %}
        <field name="{{ field.name }}">{{ record_num * 10.5 }}</field>
{% elif field.type == 'Boolean' %}
        <field name="{{ field.name }}" eval="{{ record_num == 1 }}"/>
{% elif field.type == 'Text' %}
        <field name="{{ field.name }}">Sample description for record {{ record_num }}.</field>
{% elif field.type == 'Html' %}
        <field name="{{ field.name }}">&lt;p&gt;Sample HTML content for record {{ record_num }}.&lt;/p&gt;</field>
{% elif field.type == 'Date' %}
        <field name="{{ field.name }}">2024-0{{ record_num }}-15</field>
{% elif field.type == 'Datetime' %}
        <field name="{{ field.name }}">2024-0{{ record_num }}-15 10:00:00</field>
{% elif field.type == 'Selection' %}
{% if field.selection %}
        <field name="{{ field.name }}">{{ field.selection[record_idx % field.selection | length][0] }}</field>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
    </record>

{% endfor %}
{% endfor %}
</odoo>
