{# record_rules.xml.j2 -- Multi-company record rules for models with company_id field #}
<?xml version="1.0" encoding="utf-8"?>
<odoo>
{% for model in models if model.has_company_field %}
    <record id="rule_{{ model.name | to_python_var }}_company" model="ir.rule">
        <field name="name">{{ model.name }}: Company</field>
        <field name="model_id" ref="{{ model.name | model_ref }}"/>
        <field name="global" eval="True"/>
        <field name="domain_force">[('company_id', 'in', company_ids)]</field>
    </record>
{% endfor %}
</odoo>
