{# security_group.xml.j2 -- Odoo security groups and module category #}
<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Module Category -->
    <record id="module_category_{{ module_name }}" model="ir.module.category">
        <field name="name">{{ module_title }}</field>
        <field name="sequence">100</field>
    </record>

    <!-- User Group -->
    <record id="group_{{ module_name }}_user" model="res.groups">
        <field name="name">User</field>
        <field name="category_id" ref="module_category_{{ module_name }}"/>
        <field name="implied_ids" eval="[(4, ref('base.group_user'))]"/>
    </record>

    <!-- Manager Group -->
    <record id="group_{{ module_name }}_manager" model="res.groups">
        <field name="name">Manager</field>
        <field name="category_id" ref="module_category_{{ module_name }}"/>
        <field name="implied_ids" eval="[(4, ref('group_{{ module_name }}_user'))]"/>
        <field name="users" eval="[(4, ref('base.user_root')), (4, ref('base.user_admin'))]"/>
    </record>

</odoo>
