{# sequences.xml.j2 -- ir.sequence records for auto-reference fields #}
<?xml version="1.0" encoding="utf-8"?>
<odoo noupdate="1">
{% for item in sequence_models %}
{% for field in item.sequence_fields %}

    <record id="seq_{{ module_name }}_{{ item.model_var }}" model="ir.sequence">
        <field name="name">{{ module_title }} {{ item.model.name | replace('.', ' ') | title }} Sequence</field>
        <field name="code">{{ item.model.name }}</field>
        <field name="prefix">{{ item.model.name.split('.')[0] | upper }}/%(year)s/%(month)s/</field>
        <field name="padding">5</field>
        <field name="number_next">1</field>
        <field name="number_increment">1</field>
    </record>
{% endfor %}
{% endfor %}

</odoo>
