{# view_tree.xml.j2 -- Standalone Odoo tree (list) view for a model #}
<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="view_{{ model_name | to_xml_id }}_tree" model="ir.ui.view">
        <field name="name">{{ model_name }}.view.tree</field>
        <field name="model">{{ model_name }}</field>
        <field name="arch" type="xml">
            <tree string="{{ model_description }}">
{% for field in fields %}
{% if field.type not in ('One2many', 'Html', 'Text') %}
{% if loop.index0 < 8 %}
                <field name="{{ field.name }}"{% if loop.index0 >= 5 %} optional="hide"{% endif %}/>
{% endif %}
{% endif %}
{% endfor %}
            </tree>
        </field>
    </record>

</odoo>
