{# view_search.xml.j2 -- Standalone Odoo search view for a model #}
<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="view_{{ model_name | to_xml_id }}_search" model="ir.ui.view">
        <field name="name">{{ model_name }}.view.search</field>
        <field name="model">{{ model_name }}</field>
        <field name="arch" type="xml">
            <search string="{{ model_description }}">
{% for field in fields %}
{% if field.type in ('Char', 'Many2one') %}
                <field name="{{ field.name }}"/>
{% endif %}
{% endfor %}
{% for field in fields %}
{% if field.type == 'Selection' %}
                <filter string="Group by {{ field.string | default(field.name | replace('_', ' ') | title) }}"
                        name="group_by_{{ field.name }}"
                        context="{'group_by': '{{ field.name }}'}"/>
{% endif %}
{% endfor %}
{% for field in fields %}
{% if field.type == 'Many2one' %}
                <filter string="Group by {{ field.string | default(field.name | replace('_', ' ') | title) }}"
                        name="group_by_{{ field.name }}"
                        context="{'group_by': '{{ field.name }}'}"/>
{% endif %}
{% endfor %}
            </search>
        </field>
    </record>

</odoo>
